<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Members</title>
</head>
<body>
    <h1 style="color: blue"> Hi, this is a template</h1>
    <h3 style="color: blue"> List of family members </h3>
        <p style="color:red"> Relative 1:
            <li> Name = {{name}}, Surname: {{surname}}, Age: {{age}}, Born Date: {{born_date}}</li>
        </p>
        <p> relative2 = {{name}}, {{surname}}, {{age}}, {{born_date}}</p>
        <p> relative3 = {{name}}, {{surname}}, {{age}}, {{born_date}}</p>

    
        




</body>
</html>